<header class="px-8 md:px-16 flex justify-between py-4 text-slate-200">
  <h3 class="font-logo relative w-72 text-xl sm:text-3xl ">
    <div class="absolute logo">
      <span class="">Joonas</span>
      <span class="">Reinikka</span>
    </div>
    <div class="absolute logo-bg">
      <span class="">Joonas</span>
      <span class="">Reinikka</span>
    </div>
  </h3>
  {# <nav class="font-marker flex justify-center text-2xl">
    <ul class="hidden font-header font-extrabold lg:inline">
      <a href="/">
        <li class="inline mr-2">Home</li>
      </a>
      <a href="/blog">
        <li class="inline mr-2">Blog</li>
      </a>
      <li class="inline mr-2">Notes</li>
      <li class="inline mr-2">About</li>
    </ul>
    <div class="flex lg:hidden">
      <input id="menu-toggle" type="checkbox"/>
      <label class='menu-button-container' for="menu-toggle">
        <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-6 h-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
          <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h16M4 18h16"
/>
        </svg>
      </label>
      <ul class="menu">
        <li>Home</li>
        <li>Blog</li>
        <li>Notes</li>
        <li>About</li>
      </ul>
    </div>
  </nav> #}
</header>
