{% for post in postlist | reverse %}
  <a href="{{ post.url | url }}">
    <article class="rounded bg-cover w-72 h-60 grid content-end m-5" style="background-image: url('{% imageBg post.data.coverPath, 'png', 200 %}');">
      {{ post | log }}
      <div class="backdrop-blur-sm bg-white/30 text-slate-200 p-2 rounded-b">
        <p class="text-xs font-header">{{post.data.date | readableDate}}</p>
        <h1>{{post.data.title}}</h1>
        {% for tag in post.data.tags %}
          <object class="inline mx-1">
            <a href="{{ '/tags/' | url }}{{ tag }}">
              <span class="text-xs text-blue-900">{{tag}}</span>
            </a>
          </object>
        {% endfor %}
      </div>
    </article>
  </a>
{% endfor %}
