# Build output
dist/
.output/

# Dependencies
node_modules/

# Logs
*.log

# Cache
.cache/
.astro/

# Environment variables
.env
.env.*

# Package files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw? 